# Gitignore related to this project
.vscode
*.code-workspace
/venv
*.ipynb_checkpoints
*.ipynb
__pycache__/
.DS_Store
chromedriver
geckodriver.log

# Dataset files
*.csv
*.pkl

# research matrials and dataset
/not_to_upload