{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2 class="row"> Check your url here. </h2>
    <form method="POST" class="container">
        <div class="row">
            <input class="col-75" type='text' placeholder="Enter url" value="{{url_placeholder}}" name='url'/>
            <input class="col-75" type="submit" value="Check">
        </div>
        <h1 class="row">{{ state }}</h1>
    </form>
    <div class="row">
        <a class="col-75" href="{{ url_for('about') }}">About the project.</a>
    </div>
</div>
{% endblock %}
